<!DOCTYPE html>
<html>
  <head>
    <title>L-Me</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'login-bundle' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
